@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
}

body, input, textarea, select, button {
  font: 400 1rem Nunito, sans-serif;
  line-height: 160%;
}
